{% extends 'movies/base.html' %}
{% block title %}О компании RV КИНО{% endblock %}
{% block content %}
<section class="page-header">
    <div class="container">
        <h1>О компании RV КИНО</h1>
    </div>
</section>
<section class="about-section">
    <div class="container">
        <div class="about-content">
            <h2>О НАС:</h2>
            <p>Работая с 2022 года, наша медиа платформа занимается созданием кинопроектов. Мы стремимся вдохновлять и
                помогать талантливым людям найти свой путь в мире кино, раскрывая их потенциал.</p>
            <h2>МИССИЯ:</h2>
            <p>Помочь начинающим и уже опытным режиссёрам, сценаристам и другим специалистам киноиндустрии проложить
                свой путь в мире кино и полностью раскрыть их творческий потенциал.</p>
            <h2>КОНТАКТЫ:</h2>
            <ul>
                <li><strong>Телефон:</strong> +7 940 980 02-91</li>
                <li><strong>Telegram:</strong> https://t.me/RvKinoS</li>
                <li><strong>Поддержка (почта):</strong> rv.kino.info@ya.ru</li>
                <li><strong>Поддержка (тг-бот):</strong> https://t.me/Rv_kinobot</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
